<!DOCTYPE html>
<html lang="en">
<head>
    <title>QuestionsAndAnswers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">QuestionsAndAnswers</a>
            </div>
            
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('template_home') }}"> Home</a></li>
                    <li><a href="{{ url_for('template_questions') }}">Questions</a></li>
                    <li><a href="{{ url_for('template_about') }}">About</a></li>
                    <li><a href="{{ url_for('template_contacts') }}">Contacts</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('template_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a href="{{ url_for('template_registration') }}"><span class="glyphicon glyphicon-user"></span> Registration</a></li>
                    {% else %}
                        <li><a href="#">{{session.fullname}}</a></li>
                        <li><a href="{{ url_for('template_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    
    {%  with notices = get_flashed_messages(category_filter=["notice"])  %}
    {% if notices %}
	<script type = "text/javascript">
            $("#ModalWinodw").modal("show");
	</script>
        {% for notice in notices %}
            <p class="alert alert-info">{{notice}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <footer class="navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <center>Powered by Maxim Deyneka 2015</center>
        </div>
    </footer>

</body>
</html>
